.LoginModalsBG {
  position: inherit;
}

.LoginTxt {
  position: relative;
  top: 5vw;
  display: block;
  align-items: center;
  text-align: center;
  margin: 13px auto;
  width: 20%;
  line-height: 1.8em;
  font-size: 5em;
  border-radius: .32em;
  color: #aaa;
  font-family:'Gill Sans', 'Gill Sans MT';
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 540px;
  height: 60px;
}

.LoginBtn {
  position: relative;
  border:none;
  top: 10vw;
  background: #00babc;
  display: block;
  align-items: center;
  margin: 13px auto;
  width: 20%;
  line-height: 1.8em;
  font-size: 2em;
  border-radius: .32em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.LoginModalInput {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 310px;

  width: 540px;
  height: 80px;

  outline: none;
  font-size: 50px;
  font-weight: 400;
  align-items: center;
  color: #000;
}

.DefaultProfileImg {
  position: relative;
  /*left: 290px;*/
  margin: auto;
  margin-top: 5%;
  width: 200px;
  height: 200px;
  border-radius: 100px;

  background: #fff;
}

.ChangeProfileImageBtn label {
  display:block;
  position:relative;
  margin-left: calc(50% - 25px);
  margin-top: -5%;
  width: 50px;
  height: 50px;
  resize:none;

  background: url("../assets/add-photo.png");
}

.ChangeProfileImageBtn input {
  display: none;
  position: relative;
  margin: auto;
  margin-top: -5%;

  width: 50px;
  height: 50px;

  background: url("../assets/add-photo.png");
}

.NickNameInitialForm label {
  display: none;
  position: relative;
  /*top: 310px;*/
  left:inherit;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 240px;

  font-size: 30px;
}

.NickNameInitialForm input {
  /*position: absolute;*/
  width: 10%;
  height: 25px;
  margin-bottom: 25px;
  margin-top: 5%;
  margin-left: 44%;
  background-color: rgba(30, 30, 30, 0.5);
  border: 1px solid #00babc;
  color: white;
  font-size: 1.3em;
  padding: 8px 20px 5px 30px;
}

.InitialSettingSaveBtn {
  position: relative;
  border:none;
  top: 1vw;
  background: #00babc;
  display: block;
  align-items: center;
  margin: 13px auto;
  width: 15%;
  line-height: 1.6em;
  font-size: 1.8em;
  border-radius: .32em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
